*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/background.png), url(images/background.png);
    background-repeat: repeat-y, repeat-y;
    background-position-x: left, right;
    background-size: 8%;
}

html,body { height:100%; }

h1 {
    color: white;
    padding-top: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


input[type=button], input[type=submit], input[type=reset]{
    background-color: #cc0000; 
    border: 2px solid #990000;
    border-radius: 12px;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #990000;
    color: white;
    border: 2px solid #990000;
}

form {
    color: white;
}

table {
    margin-left:auto; 
    margin-right:auto;
    align-items: center;
}

tr {
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc0000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: #990000;
}

#myTR {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
  vertical-align: auto;
  border: none;
}

#myTR td {
  margin-top: -1px;
  background-color: #660000; 
  padding: 12px;
  font-size: 18px;
  width: 50%;
  border: none;
}

#myTR2 {
  list-style-type: none;
  padding: 0;
  vertical-align: auto;
}

#myTR2 td {
  margin-top: -1px;
  background-color: #660000; 
  padding: 4px;
  font-size: 18px; 
  display: block;
  margin: auto;
  width: 70%;
}
